<!doctype html>
<html>

  <body>
    <h3>Did you ever hear the tragedy of Darth Plagueis The Wise?</h3>
    <p>I thought not. It’s not a story the Jedi would tell you. </p>
    <br/>
    <p>It’s a Sith <b>LEGEND</b>. </p>
    <br/>
    <p>Darth Plagueis was a Dark Lord of the Sith, </p>
    <p>so powerful and so wise he could use the Force to influence the midichlorians to create life…</p>
    <p>He had such a knowledge of the dark side that he could even keep the ones he cared about from dying. </p>
    <br/>
    <p>The dark side of the Force is a pathway to many abilities some consider to be unnatural.</p>
    <p>He became so powerful… the only thing he was afraid of was losing his power, </p>
    <p>which eventually, of course, </p>
    <p>he did.</p>
    <br/>
    <p>Unfortunately, he taught his apprentice everything he knew, </p>
    <p>then his apprentice killed him in his sleep. </p>
    <br/>
    <p>Ironic. </p>
    <br/>
    <p>He could save others from death, but not himself.</p>
  </body>

</html>